/* Named with a "z" at the end as to not be overriden by mdbreact library. */
/* .tooltipz {
    position: absolute;
    margin: 8px;
    padding: 4px;
    background: #1B365D;
    color: #fff;
    max-width: 300px;
    font-size: 15px;
    z-index: 9;
    pointer-events: none;
    font-family: footer;
  } */