#card {
    margin-left: 10%;
    height: auto;
    width: 78%;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    background-image: linear-gradient(rgb(223, 223, 223), rgb(201, 201, 201), rgb(160, 160, 160));
}

#cover {
    width: 49%;
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    #card {
        visibility: hidden;
    }
  }