footer {
    margin-top: 3vh;
    width: 100%;
}

.support-wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    align-self: center;
    margin-left: 15%;
    margin-right: 15%;
  }
  
.support-wrapper p {
    font-size: 1em;
    font-family: description;
    line-height: 20px;
}

a:link {
    text-decoration: underline;
    color: rgb(0, 128, 119);
}
  
a:visited {
    text-decoration: underline;
    color: rgb(0, 30, 71);
}
  
a:hover {
    text-decoration: underline;
}