footer {
    padding-top: 3%;
    padding-bottom: 3%;
}
  


footer img {
    width: 50%;
    height: auto;
    padding: 5%;
    margin: 0%;
}


@media screen and (max-width: 1024px) {

    footer p {
        padding: 6%;
    }

    footer img {
        padding: 15%;
    }
}


@media screen and (max-width: 640px) {
    footer p {
        font-size: 4.5vw;
    }
  
  }
  