@font-face {
    font-family: Montserrat-ExtraBold;
    src: local('Montserrat-ExtraBold'), url('../fonts/Montserrat-ExtraBold.ttf') format('tff');
  }


html, body {
    margin: 0px;
    padding: 0px;
    background-image: url('../images/essential-worker.jpg');
    background-color: #e6e6e6; /* Used if the image is unavailable */
    background-attachment: fixed;
    background-position: 0% 0%; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100vw 100vh; /* Resize the background image to cover the entire container */
  }

  div#hero-image-area {
    height: 45vh;
    width: 45vw;
    background-color:#1B365D;
    opacity: 0.9;
  }

  div#hero-image-area > h1 {
      position: absolute;
      color: white;
      font-weight: 900;
      font-size: 3em;
      text-align: left;
      margin-top: 5%;
      margin-left: 2%;
  }