html, body {
    margin: 0px;
    padding: 0px;
    background-image: url('../images/essential-worker.jpg');
    background-color: #e6e6e6;
    background-attachment: fixed;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 100vw auto;
}


div#hero-image-area {
  height: 45vh;
  min-height: 200px;
  max-height: 900px;
  width: 45vw;
  background-color:#1B365D;
  opacity: 0.9;
  display: flex;
  align-items: center;
}


div#hero-image-area > h3 {
    color: white;
    font-weight: 900;
    font-family: hero;
    text-align: left;
    padding-left: 2%;
}


@media screen and (min-width: 2181px) {

  div#hero-image-area > h3 {
    font-size: 3em;  
  }

}

@media screen and (max-width: 2180px) {

  div#hero-image-area > h3 {
    font-size: 2em;  
  }

}

@media screen and (max-width: 1280px) {

  div#hero-image-area > h3 {
    font-size: 1.5em;  
  }

}

@media screen and (max-width: 960px) {

  div#hero-image-area > h3 {
    font-size: 1em;  
  }

}


@media screen and (max-width: 768px) {

  html, body {
    background-position: 0% 12%;
  }

  div#hero-image-area > h3 {
    font-size: 0.8em;  
  }

  div#hero-image-area {
    height: 30vh;
  }

}

@media screen and (max-width: 420px) {

  html, body {
    background-position: 0% 8%;
  }

  div#hero-image-area {
    height: 25vh;
  }

}

@media screen and (max-width: 320px) {

  html, body {
    background-position: 0% 15%;
  }

}

@media screen and (max-width: 280px) {

  html, body {
    background-position: 0% 8%;
  }

  div#hero-image-area {
    min-height: 50px;
    height: 100px;
  }

}





