section#map-section {
    margin-left: 30%;
    margin-right: auto;
    margin-bottom: 4%;
    margin-top: 4%;
    width: 50%;
}


.map {
    margin-top: 0%;
    border-style: solid;
    border-width: thin;
    border-color: #1B365D;
    position: fixed;
}

#filter-section {
    margin-left: 54%;
    margin-right: auto;
    margin-top: 0.5%;
    margin-bottom: auto;
    width: 12%;
    z-index: 10;
    position: absolute;
}


.tooltip {
    position: absolute;
    margin: 8px;
    padding: 4px;
    background: #1B365D;
    color: #fff;
    max-width: 300px;
    font-size: 10px;
    z-index: 9;
    pointer-events: none;
  }


/* The below code block puts a border around each child / div for the map, this helps illustrate discrepancies in alignment.  */
/* section#map-section div {
    
    border-style: solid;
    border-width: thin;
    border-color: midnightblue;

} */
