section#map-section {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    margin-top: 4%;
    width: 90%;
    height: 66vh;
}


.map {
    margin-top: 0%;
    border-style: solid;
    border-width: thin;
    border-color: #1B365D;
    width: 100%;
}

#filter-section-large {
    right: 4%;
    margin-top: 0.5%;
    margin-bottom: auto;
    width: 12%;
    z-index: 10;
    position: absolute;
    
}

#legend-area-container-large {
    margin-top: 0.5%;
    margin-bottom: auto;
    margin-left: 1%;
    margin-right: auto;
    width: auto;
    height: auto;
    position: absolute; 
    z-index: 10;
}

#legend-area-large {
    margin-bottom: 0.5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    color: rgb(99, 98, 98);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    background-color: rgb(255, 255, 255);
    
}


#filter-section-small legend {
    justify-content: center;
    display: flex;
}

#filter-section-small {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -3%;
    padding-top: 4%;
    width: 90%;
    z-index: 10;
    justify-content: center;
    display: flex;
}

#legend-area-small {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    color: rgb(99, 98, 98);
    text-align: center;
    z-index: 1;
}

.legend {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.legend-values {
    display: inline-block;
    margin-left: 2%; 
}

.legend-colors {
    vertical-align: middle;
}

/* Named with a "z" at the end as to not be overriden by mdbreact library. */
.tooltipz {
    position: absolute;
    margin: 8px;
    padding: 4px;
    background: #1B365D;
    color: #fff;
    max-width: 300px;
    font-size: 15px;
    z-index: 9;
    pointer-events: none;
    font-family: footer;
  }


/* The below code block puts a border around each child / div for the map, this helps illustrate discrepancies in alignment.  */
/* section#map-section div {
    
    border-style: solid;
    border-width: thin;
    border-color: midnightblue;

} */
