
  a:link {
    text-decoration: underline;
    color: rgb(0, 128, 119);
  }
  
  a:visited {
    text-decoration: underline;
    color: rgb(0, 30, 71);
  
  }
  
  a:hover {
    text-decoration: underline;
  }

.nav-button {
  margin-left: 69% !important;
  color: #1B365D !important;
}
  
.MuiAppBar-colorPrimary {
  background-color: #ffffff !important;
}

.MuiTypography-root.MuiTypography-h3 {
  font-family: hero !important;
  padding: 5px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-colorInherit {
  text-align: right;
}