#card {
    margin-left: 10%;
    height: 15vh;
    width: 78%;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    background-image: linear-gradient(rgb(223, 223, 223), rgb(201, 201, 201), rgb(160, 160, 160));
    
}

#cover {
    width: 45%;
    margin-left: auto;
    margin-right: 0%;
    max-height: inherit;
}

#ControlPanelTitle {
    font-size: 1.5vw;
    margin-top: 0%;
    margin-bottom: auto;
    font-family: hero;
}

#ControlPanelDesc {
    font-size: 1vw;
    font-family: footer;
}

/* @media screen and (max-width: 1024px) {
    #card {
        visibility: hidden;
    }
  } */