section#table-section {
    display: block;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 30%;
    margin-right: auto;
    width: 63%;
    
    border-color: #1B365D;
    border-width: thin;
}