#ctable {
    margin-bottom: 0%;
    margin-left: 2%;
    width: 90%;
    border-color: #1B365D;
    border-width: thin;
}

#table-header {
    background-color: #1B365D;
    color: mintcream;
    text-align: center;
    font-size: 2em;
}