@font-face {
  font-family: hero;
  src: url('./fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: footer;
  src: url('./fonts/Montserrat-Light.ttf');
}

html, body {
  margin: 0px;
  padding: 0px;
}


main {
  background-color: #f6f8fa;
  margin: 0;
  padding-top: 25%;
  
}

footer {
  margin: 0;
  padding-top: 25%;
  margin-bottom: 0%;
}

section {
  text-align: justify;
  text-justify: inter-word;
}

p#map-summary {
  margin-left: 2%;
  font-size: 2em;
  font-family: footer;
  padding-top: 0%;
  margin-top: -25%;
  width: 90%;
}

p#table-summary {
  font-size: 2em;
  font-family: footer;
  margin-left: 2%;
  margin-top: 0px;
  padding-top: 1em;
  width: 90%;
}