html, body {
  margin: 0px;
  padding: 0px;
}


article {
  background-color: #e6e6e6;
}

p#summary {
  font-size: 2em;
  margin-top: 0px;
  padding-top: 2em;
  display: block;
  margin-left: 30%;
  margin-right: auto;
  width: 50%;
}

p#table-summary {
  font-size: 2em;
  margin-top: 0px;
  padding-top: 1em;
  display: block;
  margin-left: 30%;
  margin-right: auto;
  width: 50%;
}
